
@using WeatherApp.Models
@model List<CityWeather>
<!DOCTYPE html>
<html>
<head>
    <title>WeatherApp</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <div>
            @foreach(var city in Model)                             
            {
                
                <div class="box flex flex-borderless">
                    <h2>@city.CityName</h2>
                    <p>Temperature: @city.TemperatureFahrenheit</p>
                    <p>Time: @city.DateAndTime</p>
                    <a href="/Weather/@city.CityUniqueCode">Details</a>
                </div>
            }

        </div>
    </div>
</body>
</html>
